n8n-workflows/document-processing.json
{
  "name": "RAG Document Processing with Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-document",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-upload",
      "name": "Document Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "upload",
        "fileId": {
          "mode": "list",
          "value": "={{ $json.file_data }}"
        },
        "name": "={{ $json.filename }}",
        "parents": {
          "mode": "list",
          "values": [
            {
              "value": "1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms"
            }
          ]
        }
      },
      "id": "google-drive-upload",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/process-document",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "={{ $json.webViewLink }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.name }}"
            },
            {
              "name": "file_id",
              "value": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "process-document",
      "name": "Process Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-condition",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-processing",
      "name": "Check Processing Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "telegram-enabled",
              "leftValue": "={{ $vars.TELEGRAM_ENABLED }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-telegram-enabled",
      "name": "Check Telegram Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "✅ *Documento processado com sucesso!*\n\n📄 *Arquivo:* {{ $('Process Document').item.json.filename }}\n🆔 *ID:* `{{ $('Process Document').item.json.document_id }}`\n📊 *Chunks:* {{ $('Process Document').item.json.chunk_count }}\n⏰ *Processado em:* {{ new Date().toLocaleString('pt-BR') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-success",
      "name": "Notify Success via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 150]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Document uploaded and processing started\", \"document_id\": $('Process Document').item.json.document_id, \"notification_sent\": $('Check Telegram Enabled').item.json ? 'telegram' : 'none' } }}"
      },
      "id": "response-success",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "telegram-enabled-error",
              "leftValue": "={{ $vars.TELEGRAM_ENABLED }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-telegram-enabled-error",
      "name": "Check Telegram Enabled (Error)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "❌ *Erro ao processar documento!*\n\n📄 *Arquivo:* {{ $('Process Document').item.json.filename || 'N/A' }}\n🚨 *Erro:* {{ $('Process Document').item.json.error || 'Erro desconhecido' }}\n⏰ *Falha em:* {{ new Date().toLocaleString('pt-BR') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-error",
      "name": "Notify Error via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 350]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"Failed to process document\", \"error\": $('Process Document').item.json.error, \"notification_sent\": $('Check Telegram Enabled (Error)').item.json ? 'telegram' : 'none' } }}"
      },
      "id": "response-error",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Document uploaded and processing started\", \"document_id\": $('Process Document').item.json.document_id, \"notification_sent\": 'none' } }}"
      },
      "id": "response-success-no-telegram",
      "name": "Success Response (No Telegram)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"Failed to process document\", \"error\": $('Process Document').item.json.error, \"notification_sent\": 'none' } }}"
      },
      "id": "response-error-no-telegram",
      "name": "Error Response (No Telegram)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 450]
    }
  ],
  "connections": {
    "Document Upload Webhook": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Process Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Document": {
      "main": [
        [
          {
            "node": "Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Processing Status": {
      "main": [
        [
          {
            "node": "Check Telegram Enabled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Telegram Enabled (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Telegram Enabled": {
      "main": [
        [
          {
            "node": "Notify Success via Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response (No Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Success via Telegram": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Telegram Enabled (Error)": {
      "main": [
        [
          {
            "node": "Notify Error via Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response (No Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Error via Telegram": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
